version: '3'

services:
  # postgres-service
  mongodb:
    image: mongo:4.0
    container_name: "mongodb"
    environment:
      - MONGO_DATA_DIR=/data/db
      - MONGO_LOG_DIR=/dev/null
    volumes:
      - ./data/db:/data/db
    ports:
      - 27017:27017
    command: mongod --smallfiles --logpath=/dev/null # --quiet

#  # data-service
#  data-service:
#    build: ./data-service
#    container_name: data-serivce
#    ports:
#      - 5001:5000

  # backend-service
  backend-service:
    build: "./backend-service"
    container_name: backend-serivce
    networks:
      - net
    ports:
      - 3001:3000
    depends_on:
      - mongodb
    restart: unless-stopped

  # frontend-service
  # TODO: Add YAML script for frontend service

networks:
  net:
    driver: bridge
# https://github.com/VickIvanov/RVision.git
